{% extends 'base.html' %}

{% block content %}

<div class="page-header">

    <h1>{{ title }}</h1>



</div>
    <h5><p><h1>We've got what you need!</h1></p>
Sochware, native engineers working for Indigenous problems. We create hardware solutions, for locally existing glitches, and help develop Technical Nepal. SochWare is a clay-pot by techies for innovation of explored solution to support the traditional market with the arms of hardware. Initially we're supporting the agriculture with the help of Internet of things (iOT)

What if I could do better with the technology? Let's agriculture in a smart way. Let's do it like a boss. Let SochWare work for you.

SOCHWARE CAN DO!
</h5>


</head>
<body>

<h3>Contact Form</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>

    <label for="country">Country</label>
    <select id="country" name="country"><
      <option value="australia">Nepal</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select><br>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:75px"></textarea><br>

    <input type="submit" value="Submit">
  </form>
</div>


{% endblock %}